body {
    text-align: center;
    margin: 0%;
}

.menu {
    position: fixed;
    background-color: white;
    width: 100%;
    margin-top: 0px;

}
.links{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#welcome{
    background: linear-gradient(
        rgb(14, 183, 217),white
    );
}
img{
    border-radius: 50%;
    margin-top: 50px;
}
a:hover{
    color: rgb(117, 220, 33);
    font-size: larger;
}
html{
    scroll-behavior: smooth;
}